<div class="cart-sidebar-area">
    <div class="top-content">
        <a href="index.html" class="logo">
            <img src="~/assetsIndex/images/logo/logo2.png" alt="logo">
        </a>
        <span class="side-sidebar-close-btn"><i class="fas fa-times"></i></span>
    </div>
    <div class="bottom-content">
        <div class="cart-products">
            <h4 class="title">Shopping cart</h4>
            <div id="productItem">
            </div>
                <div class="btn-wrapper text-center">
                    <a href="/index/Cart" id="btnCheck" class="custom-button"><span>Checkout</span></a>
                </div>
            </div>
    </div>
</div>

