<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Art Shop</title>

    <link rel="stylesheet" href="~/assetsIndex/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assetsIndex/css/all.min.css">
    <link rel="stylesheet" href="~/assetsIndex/css/animate.css">
    <link rel="stylesheet" href="~/assetsIndex/css/nice-select.css">
    <link rel="stylesheet" href="~/assetsIndex/css/owl.min.css">
    <link rel="stylesheet" href="~/assetsIndex/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assetsIndex/css/flaticon.css">
    <link rel="stylesheet" href="~/assetsIndex/css/jquery-ui.min.css">
    <link rel="stylesheet" href="~/assetsIndex/css/main.css">
    <link rel="stylesheet" href="~/assetsIndex/css/lightbox.min.css">
    <link rel="stylesheet" href="~/notification/ikr.notification.css">

    <link rel="shortcut icon" href="~/assetsIndex/2020/02/favicon.ico" type="image/x-icon">
    <link href="https://use.fontawesome.com/releases/v5.10.0/css/v4-shims.css" rel="stylesheet" />
</head>
