@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Http;

@{
    if (Context.Session.GetString("USER") != null)
    {
        ViewBag.USER = JsonConvert.DeserializeObject(Context.Session.GetString("USER"));
    }
    int userId = ViewBag.USER == null ? 0 : ViewBag.USER.UserId;
    int userTypeId = userId == 0 ? 0: Tools.GetUser(userId).UsertypeId;
}
<div class="col-sm-10 col-md-7 col-lg-4">
    <div class="dashboard-widget mb-30 mb-lg-0 sticky-menu">
        <div class="user">
            <div class="thumb-area">
                <div class="thumb">
                    @if (ViewBag.USER.Image == null)
                    {
                        <img src="~/assets/img/userImage/uservodanh.jpeg" alt="user">
                    }
                    else
                    {
                        <img src="~/assets/img/userImage/@ViewBag.USER.Image" alt="user">
                    }

                </div>
                @*<label for="profile-pic" class="profile-pic-edit"><i class="flaticon-pencil"></i></label>*@
                <input type="file" id="profile-pic" class="d-none">
            </div>
            <div class="content">
                <h5 class="title"><a href="#0">@ViewBag.USER.Name</a></h5>
                <span class="username">@ViewBag.USER.Email</span>
            </div>
        </div>
        <ul class="dashboard-menu">
            @if (Tools.GetCustomerfromSession(Context.Session.GetString("USER")) != null)
            {
                <li>
                    <a href="dashboard" class="active"><i class="flaticon-dashboard"></i>Dashboard</a>
                </li>
            }

            <li>
                <a href="UserProfile"><i class="flaticon-settings"></i>Personal Profile </a>
            </li>
            @if (userTypeId == 3)
            {
                <li>
                    <a href="MyBid"><i class="flaticon-auction"></i>My Bids</a>
                </li>
                <li>
                    <a href="WinningBid"><i class="flaticon-best-seller"></i>Winning Bids</a>
                </li>
                <li>
                    <a href="MyAlerts"><i class="flaticon-alarm"></i>My Alerts</a>
                </li>
                <li>
                    <a href="MyFavorite"><i class="flaticon-star"></i>My Favorites</a>
                </li>
            }
            else
            {
                <li>
                    <a href="/artwork/list"><i class="flaticon-star"></i>My Artwork</a>
                </li>
            }

            <li>
                <a href="Referral"><i class="flaticon-shake-hand"></i>Referrals</a>
            </li>
        </ul>
    </div>
</div>