<script src="~/assetsIndex/js/jquery-3.3.1.min.js"></script>
<script src="~/assetsIndex/js/modernizr-3.6.0.min.js"></script>
<script src="~/assetsIndex/js/plugins.js"></script>
<script src="~/assetsIndex/js/bootstrap.min.js"></script>
<script src="~/assetsIndex/js/isotope.pkgd.min.js"></script>
<script src="~/assetsIndex/js/wow.min.js"></script>
<script src="~/assetsIndex/js/waypoints.js"></script>
<script src="~/assetsIndex/js/nice-select.js"></script>
<script src="~/assetsIndex/js/counterup.min.js"></script>
<script src="~/assetsIndex/js/owl.min.js"></script>
<script src="~/assetsIndex/js/magnific-popup.min.js"></script>
<script src="~/assetsIndex/js/yscountdown.min.js"></script>
<script src="~/assetsIndex/js/jquery-ui.min.js"></script>
<script src="~/assetsIndex/js/main.js"></script>
<script src="/assetsIndex/js/lightbox-plus-jquery.min.js"></script>
<script>
    window.onload = function () {
        var amount = document.getElementById("Amount");

        if (localStorage.getItem("amount") == null) {
            amount.innerHTML = "0";
        }
        else {
            amount.innerHTML = localStorage.getItem("amount");
        }

        if (localStorage.getItem("cards") != null) {
            var cart = document.getElementById("productItem");
            var miniCart= localStorage.getItem("cards");
            cart.innerHTML = miniCart;
        }
        if (document.getElementById("MyGallery") != null) {
            var arts = document.getElementById("ourgallery").getElementsByClassName("columnArt");
            var numberArtInPage = 8;
            var artsLeght = arts.length;
            var totalPages = totalPage(numberArtInPage, document.getElementById("ourgallery").getElementsByClassName("columnArt"));
            var ulTag = document.querySelector("#pagegallery");
            ParagraphDivide();
            pageOne(numberArtInPage, arts);
            element(totalPages, 1, ulTag, numberArtInPage);
            categoryGallery();
        }

        if (document.getElementById("titlex") != null) {
            var arts = document.getElementById("ourgallery").getElementsByClassName("columnArt");
            var numberArtInPage = 4;
            var artsLeght = arts.length;
            var totalPages = totalPage(numberArtInPage, document.getElementById("ourgallery").getElementsByClassName("columnArt"));
            var ulTag = document.querySelector("#pagegallery");
            ParagraphDivide();
            pageOne(numberArtInPage, arts);
            element(totalPages, 1, ulTag, numberArtInPage);
        }

        if (document.getElementById("BuyNow") != null) {
            var btnAddToCard = document.getElementById("BuyNow").getElementsByTagName("a")[0];
            btnAddToCard.addEventListener("click", AddToCardCliked);
        }
        removeCard();

        if (document.getElementsByName("rate") != null) {
            getRate();
        }

        if (document.getElementById("MenuMethod") != null) {
            payment();
            method(0);
        }
    }

    $(document).ready(function () {
        var a = $("#myBtnContainer").children();
        for (var i = 0; i < a.length; i++) {

            $(a[i]).click(function () {
                var id = parseInt ($(this).data("id"));
                if (id != 50) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("categoryGalery", "Index")',
                        data: { id: id },
                        dataType: 'json',
                        success: function (smg) {
                            console.log(smg[0].image);
                            if (smg.length != 0) {
                                var a = "";
                                for (var i = 0; i < smg.length; i++) {
                                    var b = smg[i].description;
                                    var z = cutString(b);
                                    a += `<div class="columnArt">
                                            <div class="content">
                                                <a data-lightbox="mygallery"><img src="~/assets/img/artwork/` + smg[i].image + `" alt=""></a>
                                                <h4>`+ smg[i].name + `</h4>
                                                <b>`+ smg[i].artist.name + `</b>
                                                <h5>$`+ smg[i].defautPrice + `</h5>
                                                <p class="para">`+ z + `</p>
                                                <a href='/Index/artworkdetail?id=`+ smg[i].id + `'>Readmore</a>
                                                <div class="text-center">
                                                    <a href="#0" class="custom-button">Add to Favorites</a>
                                                </div>
                                            </div>
                                        </div>`
                                }
                            }
                            $("#ourgallery").html(
                                a
                            )
                        }
                    })
                }
                else {               
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("getAllGallery","Index")',
                            success: function (smg) {
                                if (smg.length != 0) {
                                    var a = "";
                                    for (var i = 0; i < smg.length; i++) {
                                        var b = smg[i].description;
                                        var z = cutString(b);
                                        a += `<div class="columnArt">
                                            <div class="content">
                                                <a data-lightbox="mygallery"><img src="~/assets/img/artwork/` + smg[i].image + `" alt=""></a>
                                                <h4>`+ smg[i].name + `</h4>
                                                <b>`+ smg[i].artist.name + `</b>
                                                <h5>$`+ smg[i].defautPrice + `</h5>
                                                <p class="para">`+ z + `</p>
                                                <a href='/Index/artworkdetail?id=`+ smg[i].id + `'>Readmore</a>
                                                <div class="text-center">
                                                    <a href="#0" class="custom-button">Add to Favorites</a>
                                                </div>
                                            </div>
                                        </div>`
                                    }
                                }
                                $("#ourgallery").html(
                                    a
                                )
                            }
                        })
                }

            })
        }

    })
</script>