<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="admin">Dashboard</a></li>
                    @if (ViewData["Title"].Equals("Customer") || ViewData["Title"].Equals("Artist"))
                    {
                        <li class="breadcrumb-item disabled">User</li>
                    }
                    @if (!ViewData["Title"].Equals("Dashboard"))
                    {
                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                    }
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
