<!DOCTYPE html>

<html>
<head>
    @Html.Partial("~/Views/AdminLayout/HeadPartial.cshtml")
</head>
<body class="hold-transition login-page">
    <div>
        @RenderBody()
    </div>
    @Html.Partial("~/Views/AdminLayout/ScriptPartial.cshtml")
</body>
</html>
