@model IEnumerable<OnlineArtGallery.Models.ArtCategory>

@{
    ViewData["Title"] = "ArtCategory";
    Layout = "~/Views/AdminLayout/MainLayout.cshtml";
}

<h1 class="text-center"><i class="fas fa-list"></i>&ensp;Art Category</h1>

<div id="view-all">
    @await Html.PartialAsync("_ViewAll", Model)
</div>