@using Newtonsoft.Json;

@model OnlineArtGallery.Models.UserUpdate

@{
    Layout = null;

    ViewBag.Birthday = Model.Birthday.Equals(DateTime.MinValue) ? DateTime.Now.ToString("yyyy-MM-dd") : Model.Birthday.ToString("yyyy-MM-dd");
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Update" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPost(this);" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Gender" /> Male
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Birthday" class="control-label"></label>
                <input type="date" asp-for="Birthday" class="form-control" value="@ViewBag.Birthday" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="UserId" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

<script>
    var recentCustomer = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Tools.GetCustomerList()))');
    $("#form").on("submit", function () {
        var error = "";
        if ($("#Id").val() != 0) {
            for (var i = 0; i < Object.keys(recentCustomer).length; i++) {
                if ($("#Id").val() != recentCustomer[i]["Id"]) {
                    if ($("#Phone").val() == recentCustomer[i]["Phone"]) error += "- Phone already existed.\n";
                    if ($("#Email").val() == recentCustomer[i]["Email"]) error += "- Email already existed.\n";
                }
            }
        }
        else
        {
            for (var i = 0; i < Object.keys(recentCustomer).length; i++) {
                if ($("#Phone").val() == recentCustomer[i]["Phone"]) error += "- Phone already existed.\n";
                if ($("#Email").val() == recentCustomer[i]["Email"]) error += "- Email already existed.\n";
            }
        }
        if (error != "") {
            alert(error);
            return false;
        }
        return jQueryAjaxPost(this);
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}