@{
    Layout = "~/Views/UserLayout/MainLayout.cshtml";
    List<Auction> MyBid = null;
    if (ViewBag.MyBid != null)
    {
        MyBid = ViewBag.MyBid;
    }

    List<Auction> MyPassBid = null;
    if (ViewBag.MyPassBid != null)
    {
        MyPassBid = ViewBag.MyPassBid;
    }
}

<!--============= Hero Section Starts Here =============-->
<div class="hero-section style-2">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="#0">My Account</a>
            </li>
            <li>
                <span>My Bids</span>
            </li>
        </ul>
    </div>
    <div class="bg_img hero-bg bottom_center" data-background='@Url.Content("~/assetsIndex/images/banner/hero-bg.png")'></div>
</div>
<!--============= Hero Section Ends Here =============-->
<!--============= Dashboard Section Starts Here =============-->
<section class="dashboard-section padding-bottom mt--240 mt-lg--440 pos-rel">
    <div class="container">
        <div class="row justify-content-center">
            @Html.Partial("~/Views/UserLayout/MenuUserPartial.cshtml")
            <div class="col-lg-8">
                <div class="dash-bid-item dashboard-widget mb-40-60">
                    <div class="header">
                        <h4 class="title">My Bids</h4>
                        <span class="notify"><i class="flaticon-alarm"></i> Manage Notifications</span>
                    </div>
                    <ul class="button-area nav nav-tabs">
                        <li>
                            <a href="#upcoming" data-toggle="tab" class="custom-button active">Upcoming</a>
                        </li>
                        <li>
                            <a href="#past" data-toggle="tab" class="custom-button">Past</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="upcoming">
                        <div class="row mb-30-none justify-content-center">
                            @foreach (var item in MyBid)
                            {
                                long CurrentBid = 0;
                                int BidCount = 0;
                                if (item.AuctionRecords != null)
                                {
                                    CurrentBid = item.AuctionRecords.Max(x => x.BidPrice);
                                    BidCount = item.AuctionRecords.Count();
                                    if (CurrentBid == 0)
                                    {
                                        CurrentBid = item.ReservePrice;
                                    }
                                }
                                else
                                {
                                    CurrentBid = item.ReservePrice;
                                }
                                <div class="col-sm-10 col-md-6">
                                    <div class="auction-item-2">
                                        <div class="auction-thumb">
                                            <a href="product-details.html"><img src="~/assets/img/artwork/@item.Artwork.Image" height="300" alt="car"></a>
                                            <a href="#0" class="rating"><i class="far fa-star"></i></a>
                                            <a href="#0" class="bid"><i class="flaticon-auction"></i></a>
                                        </div>
                                        <div class="auction-content">
                                            <h6 class="title">
                                                <a href="#0">@item.Artwork.Name</a>
                                            </h6>
                                            <div class="bid-area">
                                                <div class="bid-amount">
                                                    <div class="icon">
                                                        <i class="flaticon-auction"></i>
                                                    </div>
                                                    <div class="amount-content">
                                                        <div class="current">Current Bid</div>
                                                        <div class="amount">$@CurrentBid</div>
                                                    </div>
                                                </div>
                                                <div class="bid-amount">
                                                    <div class="icon">
                                                        <i class="flaticon-money"></i>
                                                    </div>
                                                    <div class="amount-content">
                                                        <div class="current">Begin bid</div>
                                                        <div class="amount">$@item.ReservePrice</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="countdown-area">
                                                <div class="countdown">
                                                    <div id="bid_counter26"></div>
                                                </div>
                                                <span class="total-bids">@BidCount Bids</span>
                                            </div>
                                            <div class="text-center">
                                                <a href="/Index/auctiondetail?auctionId=@item.Id" class="custom-button">Detail</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }


                        </div>
                    </div>
                    <div class="tab-pane fade" id="past">
                        <div class="row justify-content-center mb-30-none">

                            @foreach (var item in MyPassBid)
                            {
                                long CurrentBid = 0;
                                int BidCount = 0;
                                if (item.AuctionRecords != null)
                                {
                                    CurrentBid = item.AuctionRecords.Max(x => x.BidPrice);
                                    BidCount = item.AuctionRecords.Count();
                                    if (CurrentBid == 0)
                                    {
                                        CurrentBid = item.ReservePrice;
                                    }
                                }
                                else
                                {
                                    CurrentBid = item.ReservePrice;
                                }
                                <div class="col-sm-10 col-md-6">
                                    <div class="auction-item-2">
                                        <div class="auction-thumb">
                                            <a href="product-details.html"><img src="~/assets/img/artwork/@item.Artwork.Image" height="300" alt="car"></a>
                                            <a href="#0" class="rating"><i class="far fa-star"></i></a>
                                            <a href="#0" class="bid"><i class="flaticon-auction"></i></a>
                                        </div>
                                        <div class="auction-content">
                                            <h6 class="title">
                                                <a href="#0">@item.Artwork.Name</a>
                                            </h6>
                                            <div class="bid-area">
                                                <div class="bid-amount">
                                                    <div class="icon">
                                                        <i class="flaticon-auction"></i>
                                                    </div>
                                                    <div class="amount-content">
                                                        <div class="current">Current Bid</div>
                                                        <div class="amount">$@CurrentBid</div>
                                                    </div>
                                                </div>
                                                <div class="bid-amount">
                                                    <div class="icon">
                                                        <i class="flaticon-money"></i>
                                                    </div>
                                                    <div class="amount-content">
                                                        <div class="current">Begin bid</div>
                                                        <div class="amount">$@item.ReservePrice</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="countdown-area">
                                                <div class="countdown">
                                                    <div id="bid_counter26"></div>
                                                </div>
                                                <span class="total-bids">@BidCount Bids</span>
                                            </div>
                                            <div class="text-center">
                                                <a href="/Index/auctiondetail?auctionId=@item.Id" class="custom-button">Detail</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--============= Dashboard Section Ends Here =============-->