@{Layout = "~/Views/UserLayout/MainLayout.cshtml";}
@model OnlineArtGallery.Models.User
<!--============= Hero Section Starts Here =============-->
<div class="hero-section">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="#0">Pages</a>
            </li>
            <li>
                <span>Sign Up</span>
            </li>
        </ul>
    </div>
    <div class="bg_img hero-bg bottom_center" data-background='@Url.Content("~/assetsIndex/images/banner/hero-bg.png")'></div>
</div>
<!--============= Hero Section Ends Here =============-->
<!--============= Account Section Starts Here =============-->
<section class="account-section padding-bottom">
    <div class="container">
        <div class="account-wrapper mt--100 mt-lg--440">
            <div class="left-side">
                <div class="section-header">
                    <h2 class="title">SIGN UP</h2>
                    <p>We're happy you're here!</p>
                </div>
                <ul class="login-with">
                    <li>
                        <a href="#0"><i class="fab fa-facebook"></i>Log in with Facebook</a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-google-plus"></i>Log in with Google</a>
                    </li>
                </ul>
                <div class="or">
                    <span>Or</span>
                </div>
                <form class="login-form" method="post" onsubmit="return jQueryAjaxPostForRegister(this)">
                    <div class="form-group mb-30">
                        <label for="username"><i class="far fa-envelope"></i></label>
                        <input asp-for="Username" type="text" id="username" name="username" placeholder="Username">
                    </div>
                    <div class="form-group mb-30">
                        <label for="password"><i class="fas fa-lock"></i></label>
                        <input asp-for="Password" type="password" id="password" name="password" placeholder="Password">
                        <span class="pass-type"><i class="fas fa-eye"></i></span>
                    </div>
                    <div class="form-group mb-30">
                        <select asp-for="UsertypeId" id="accountType">
                            <option>
                                &nbsp; Choose account type
                            </option>
                            <option value="2">
                                &nbsp; Artist
                            </option>
                            <option value="3">
                                &nbsp; Customer
                            </option>
                        </select>
                    </div>
                    <div class="form-group mb-0">
                        <button type="submit" id="btnReg" class="custom-button">SIGN UP</button>
                    </div>
                </form>
                @if (ViewBag.Error != null)
                {
                    <script type="text/javascript">
                        alert("@ViewBag.Error");
                    </script>
                }
                else if (ViewBag.Message != null)
                {
                    <script type="text/javascript">
                        alert("@ViewBag.Message");
                    </script>
                }
            </div>
            <div class="right-side cl-white">
                <div class="section-header mb-0">
                    <h3 class="title mt-0">ALREADY HAVE AN ACCOUNT?</h3>
                    <p>Log in and go to your Dashboard.</p>
                    <a href="sign-in.html" class="custom-button transparent">Login</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--============= Account Section Ends Here =============-->